<div class="container mt-5">
    <h4>Internal Server Error - refreshing the page will disapear error exceptiom</h4>
    <h5 class="text-danger">Error : {{error.Message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing angular is not probably not responsible</p>
    <p>What to do nect?</p>
    <ol>
        <li>Open chrome dev tool</li>
        <li>Inspect network tab</li>

    </ol>
    <p>Following is the stack trace - this is where your navigation should start</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</div>
